div{
    height: 230px;
    border: 1px solid #673AB7;
    margin: 10px;
    display: block;
}
img{
    height: 230px;
    float: left;
    padding-right: 10px;
}
.viewmore {
    color: white;
    background-color: #673AB7;
}