header {
    height: 65px;
    border-bottom: 1px solid #EBECED;
}
.logo {
    height: 65px;
    /* display: inline; */
    /* border-bottom: 1px solid #EBECED; */
}
.loginButton {
    height: 65px;
    width: 150px;
    float: right;
    padding-right: 1px;
    text-align: center; 
    background-color: #a578f5;
}
#logoImg {
    padding-left: 615px;
}
.slogan {
    padding-left: 635px;
    font-family: 'Times New Roman', Times, serif;
    color: #673AB7;
    font-size: 20px;
}
.example-full-width {
    width: 100%;
}
.search {
    padding-left: 635px;
    display: inline-block;  
}
.searchInput {
    height: 40px;
    min-width: 555px;
    margin-bottom: 5px; 
    line-height: 2em; 

}
.searchButton {
    height: 42px;
    background-color: primary;
}
footer {
    height: 65px;
    text-align: center;
    border-top: 1px solid #EBECED;
    padding-top: 40px;
}
.container{
    height: 720px;
    width: 960px;
}