<header>
  <button class="login" mat-button>
    Đăng nhập  >
  </button>
</header>

<div class="logo">
  <img class="logoImg" src="assets/letsgo.png" alt="">
</div>
<span class="slogan">Tìm cho bạn khách sạn phù hợp nhất cho kì nghỉ trọn vẹn</span>

<div class="search">
  <input class="searchInput" type="text" placeholder="Nhập tỉnh, thành phố">
  <button mat-raised-button class="searchButton" color="primary">Tìm</button>
</div>
<div class="slideshow-container">
    <div class="mySlides fade">
      <img src="assets/3t4.jpg" style="width: 960px; height: 720px;">
    </div>
   
    <div class="mySlides fade">
      <img src="assets/category1.png" style="width: 960px; height: 720px;">
    </div>
   
    <div class="mySlides fade">
      <img src="assets/category2.png" style="width: 960px; height: 720px;">
    </div>
  </div>
  <br> 
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(0)"></span> 
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
</div>