header {
    height: 65px;
    border-bottom: 1px solid #EBECED;
}
.logo {
    height: 65px;
    padding-left: 850px;
    /* display: inline; */
    /* border-bottom: 1px solid #EBECED; */
}
.loginButton {
    height: 65px;
    width: 150px;
    float: right;
    padding-right: 1px;
    text-align: center; 
    background-color: #a578f5;
}

footer {
    height: 65px;
    text-align: center;
    border-top: 1px solid #EBECED;
    padding-top: 40px;
}